<template>

    <!-- HOME -->
    <section
        id="home"
        class="text-center my-32 max-w-screen-sm m-auto"
    >
        <h1 class="text-4xl font-bold my-8">
            <fa
                icon="fa-face-smile-beam"
                class="text-blue-500"
            />&nbsp;Welcome
        </h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio, laudantium labore quisquam animi neque
            fugit nemo veritatis aliquam repellat id sint eveniet, doloremque, obcaecati rem minima nihil explicabo
            tenetur voluptatibus.</p>
    </section>

    <!-- WHITEPAPER -->
    <section
        id="whitepaper"
        class="text-center my-32 max-w-screen-md m-auto"
        v-if="whitePaperUrl"
    >
        <h1 class="text-4xl font-bold my-8">
            <fa
                icon="fa-paper-plane"
                class="text-blue-500"
            />&nbsp;Whitepaper
        </h1>
        <p class="mb-4">Check out the projects whitepaper to <span class="font-bold">learn more</span> about it! 🤓
        </p>
        <a
            :href="whitePaperUrl"
            class="bg-blue-500 p-2 block w-36 m-auto rounded text-white"
            target="_blank"
        >Download</a>
    </section>

    <!-- NEWSLETTER -->
    <section
        id="newsletter"
        class="text-center my-32 max-w-screen-md m-auto"
        v-if="newsletterFormUrl"
    >
        <h1 class="text-4xl font-bold my-8">
            <fa
                icon="fa-envelope"
                class="text-blue-500"
            />&nbsp;Newsletter
        </h1>

        <!-- MAILCHIMP FORM : START -->
        <form
            id="mailchimp-embedded"
            :action="newsletterFormUrl"
            method="post"
            target="_blank"
        >
            <p class="mb-4">Get updated on project news and activity as well as <span class="font-bold">early-bird
                    discounts!</span></p>
            <input
                type="email"
                name="EMAIL"
                placeholder="Your Email"
                required
                class="mb-4 rounded bg-white placeholder-gray-400 px-2 py-1 border-2 border-gray-400 outline-none text-center italic"
            >
            <button class="bg-blue-500 p-2 block w-36 m-auto rounded text-white">Subscribe</button>
        </form>
        <!-- MAILCHIMP FORM : END -->
    </section><!-- SOCIALS -->
    <section
        id="socials"
        class="text-center my-32 max-w-screen-md m-auto"
        v-if="twitterProfileUrl || youtubeProfileUrl"
    >
        <h1 class="text-4xl font-bold my-8">
            <fa
                icon="fa-at"
                class="text-blue-500"
            />&nbsp;Socials
        </h1>

        <p class="mb-4"><span class="font-bold">Get connected</span> through our socials!</p>

        <div class="flex w-80 m-auto">
            <a
                :href="twitterProfileUrl"
                target="_blank"
                class="grow text-center"
                v-if="twitterProfileUrl"
            >
                <fa
                    icon="fa-brands fa-twitter"
                    class="text-blue-500 w-16 h-16"
                />
            </a>
            <a
                :href="youtubeProfileUrl"
                target="_blank"
                class="grow text-center"
                v-if="youtubeProfileUrl"
            >
                <fa
                    icon="fa-brands fa-youtube"
                    class="text-red-600 w-16 h-16"
                />
            </a>
        </div>

    </section>

    <!-- CODE -->
    <section
        id="code"
        class="text-center my-32 max-w-screen-md m-auto"
        v-if="gitlabUrl || githubUrl"
    >
        <h1 class="text-4xl font-bold my-8">
            <fa
                icon="fa-code"
                class="text-blue-500"
            />&nbsp;Code
        </h1>

        <p class="mb-4">This project is <span class="font-bold">open-source</span>! You can check out the progress and
            code quality, as well as <span class="font-bold">contribute to the project!</span></p>

        <div class="flex w-80 m-auto">
            <a
                :href="gitlabUrl"
                target="_blank"
                class="grow text-center"
                v-if="gitlabUrl"
            >
                <fa
                    icon="fa-brands fa-gitlab"
                    class="text-orange-600 w-16 h-16"
                />
            </a>
            <a
                :href="githubUrl"
                target="_blank"
                class="grow text-center"
                v-if="githubUrl"
            >
                <fa
                    icon="fa-brands fa-github"
                    class="text-gray-800 w-16 h-16"
                />
            </a>
        </div>

    </section>

    <BackUp />
</template>
<script setup lang="ts">
import BackUp from '@/components/BackUp.vue'

const whitePaperUrl = import.meta.env.VITE_WHITEPAPER_URL
const newsletterFormUrl = import.meta.env.VITE_NEWSLETTER_FORM_URL
const twitterProfileUrl = import.meta.env.VITE_TWITTER_PROFILE_URL
const youtubeProfileUrl = import.meta.env.VITE_YOUTUBE_PROFILE_URL
const gitlabUrl = import.meta.env.VITE_GITLAB_URL
const githubUrl = import.meta.env.VITE_GITHUB_URL
</script>