<template>
    <div class="fixed w-16 h-16 right-4 bottom-4 rounded-full bg-blue-500 flex items-center justify-center">
        <RouterLink to="#top">
            <fa
                icon="fa-angle-up"
                class="text-white font-bold w-12 h-12 "
            />
        </RouterLink>
    </div>
</template>
<script setup lang="ts">
import { RouterLink } from 'vue-router'
</script>