<template>
    <RouterLink
        :to="to"
        class="grow text-center text-lg p-4 hover:underline"
    >
        <slot />
    </RouterLink>
</template>
<script setup lang="ts">
import { RouterLink } from 'vue-router'
const props = defineProps<{
    to: string
}>()
</script>