<template>
    <nav class="flex flex-col md:flex-row">
        <MenuLink to="#home">
            <fa
                icon="fa-home"
                class="text-blue-500"
            />&nbsp;Home
        </MenuLink>
        <MenuLink
            v-if="whitePaperUrl"
            to="#whitepaper"
        >
            <fa
                icon="fa-paper-plane"
                class="text-blue-500"
            />&nbsp;Whitepaper
        </MenuLink>
        <MenuLink
            v-if="newsletterFormUrl"
            to="#newsletter"
        >
            <fa
                icon="fa-envelope"
                class="text-blue-500"
            />&nbsp;Newsletter
        </MenuLink>
        <MenuLink
            v-if="twitterProfileUrl || youtubeProfileUrl"
            to="#socials"
        >
            <fa
                icon="fa-at"
                class="text-blue-500"
            />&nbsp;Socials
        </MenuLink>
        <MenuLink
            v-if="gitlabUrl || githubUrl"
            to="#socials"
        >
            <fa
                icon="fa-code"
                class="text-blue-500"
            />&nbsp;Code
        </MenuLink>
    </nav>
</template>
<script setup lang="ts">
import MenuLink from '@/components/MenuLink.vue'

const whitePaperUrl = import.meta.env.VITE_WHITEPAPER_URL
const newsletterFormUrl = import.meta.env.VITE_NEWSLETTER_FORM_URL
const twitterProfileUrl = import.meta.env.VITE_TWITTER_PROFILE_URL
const youtubeProfileUrl = import.meta.env.VITE_YOUTUBE_PROFILE_URL
const gitlabUrl = import.meta.env.VITE_GITLAB_URL
const githubUrl = import.meta.env.VITE_GITHUB_URL
</script>