<template>
    <div class="container m-auto px-4 sm:px-6 md:px-8 lg:px-0">
        <header
            id="top"
            class="m-auto flex flex-col my-16"
        >
            <div class="m-auto">
                <img
                    class="w-full"
                    alt="Vue logo"
                    src="@/assets/logo.png"
                />
            </div>

            <div class="w-full m-auto">
                <Navigation />
            </div>
        </header>

        <main>
            <RouterView />
        </main>

        <footer class="text-center p-4">
            <p class="text-sm md:text-lg">Made with
                <fa
                    icon="fa-heart"
                    class="text-red-600"
                /> by <a
                    href="https://venturini.codes"
                    target="_blank"
                >venturini.codes</a>
            </p>
        </footer>

    </div>
</template>

<script setup lang="ts">
import { RouterView } from 'vue-router'
import Navigation from './components/Navigation.vue'
</script>